
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .slider-overly h2 {
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
} 
.section-title h2 {
    font-size: 25px;
    line-height: 40px
    }
    .about-description p {
    font-size: 16px;
    line-height: 25px;
}
.properties-img {
    max-height: 163px;
}
.cta-leftside h2 {
    font-size: 30px;
}

/* properties page one */
.propertes-slider-right {
    width: 80%;
    margin-left: 0px;
}
.propertes-desc {
    padding-left: 0px;
}

.propertes-desc p {
    font-size: 16px;
}
.propertes-describe p {
    font-size: 15px;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   ul.navbar-nav.ml-auto {
    text-align: center;
}
.slider-overly {
    width: 50%;
}
  .slider-overly h2 {
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
}
.slider-overly ul li a i {
   font-size: 15px;
    width: 50px;
    height: 50px;
    line-height: 47px;
    padding-left: 18px;
}
.section-title h2 {
    font-size: 20px;
    line-height: 35px;
    }
    .about-description p {
    font-size: 15px;
    line-height: 24px;
}
.properties-des a {
    font-size: 20px;
    }
    .properties-des p {
    font-size: 15px;
}
.cta-leftside h2 {
    font-size: 22px;
}
.cta-leftside h3 {
    font-size: 22px;
    }
    .cta-description p {
    font-size: 15px;
    line-height: 24px;
}
.cta-heading h2 {
    width: 21%;
    font-size: 24px;
    padding-bottom: 6px;
    }
    .cta-icon img {
    width: 100%;
    max-width: 50px;
}
.cta-icon h3 {
    color: #D9AB33;
    padding-top: 10px;
    font-size: 18px;
}
.cta-icon h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
}
.icon-box-section {
    padding-top: 10px;
}
/* properites page */
.propertes-slider-right {
    padding-top: 90px;
    margin-left: 0px;
    width: 31%;
}
.propertes-desc {
    padding-left: 0px;
}
section.propertes-img-section.mt-5 {
    margin-top: 0px !important;
}
.propertes-sm-img-info {

    width: 243px;
    top: 19px;
    right: -140px;
}
.invest-content h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 13px;
}
.invest-content p {
    line-height: 24px;
    font-size: 16px;
}
.text-center.invest-title h2 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 500;
    }
    .text-center.invest-title p {
    font-size: 16px;
line-height: 25px
}
.invest-content p {
    line-height: 21px;
    font-size: 15px;
}
.invest-content h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 11px;
}
section.invest-bg-img h2 {
    font-size: 25px;
    line-height: 32px;
}
section.invest-bg-img p {
    font-size: 16px;
    line-height: 22px;
}
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
      ul.navbar-nav.ml-auto {
    text-align: center;
}
.slider-overly {
    width: 90%;
}
.slider-overly ul li a i {
   font-size: 15px;
    width: 50px;
    height: 50px;
    line-height: 47px;
    padding-left: 18px;
}
.properties-box {
    margin-bottom: 35px;
}
.cta-description p {
    font-size: 15px;
    line-height: 24px;
    }
    .cta-leftside h2 {
    font-size: 22px;
}
.cta-leftside h3 {
    font-size: 22px;
    }
    .cta-description p {
    font-size: 15px;
    line-height: 24px;
}
.cta-heading h2 {
    width: 21%;
    font-size: 24px;
    padding-bottom: 6px;
    }
    .cta-icon img {
    width: 100%;
    max-width: 50px;
}
.cta-icon h3 {
    color: #D9AB33;
    padding-top: 10px;
    font-size: 18px;
    margin-bottom: 0;
}
.cta-icon h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
}
/* properties page  */
section.propertes-slider {
    padding: 40px 0px;
}
.propertes-desc {
    padding-left: 0px;
}
.propertes-sm-img-info {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 15px;
    z-index: 0;
    right: 0;
    width: 265px;
    top: -30px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
}
section.propertes-img-section2 img {
    padding-top: 130px !important;
}
.propertes-sm-img-info2 {
    position: absolute;
    left: 50%;
    top: 9%;
    transform: translateX(-50%);
}
.propertes-sm-img img {
    margin-top: 80px;
    max-width: 900px;
}
.ab-park-header h4 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .ab-park-text {
        padding-right: 0px;
    }
    ul.ab-park-list {
        margin-bottom: 25px;
        margin-top: 0;
    }
    .section-title h2 {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 10px;
    }
    .ab-park-header h3 {
        font-size: 20px;
    }
    ul.ab-park-list li {
        font-size: 22px;
        line-height: 36px;
    }
    .single-record {
        margin-bottom: 60px;
    }
    .single-record::after {
        content: '\f309';
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        font-size: 20px;
    }
    .suc-record-wrap {
        background-size: cover;
    }
    .contact-form {
        padding-right: 0;
        border-right: none;
        margin-bottom: 30px;
    }
    .contact-address {
        padding-left: 0;
    }
    .about-us-wrap .section-title h2:after {
        width: 60%;
    }
    .logo-section {
    text-align: center;
    padding-top: 30px;
}
.logo-section h4 {
    font-size: 15px;
    padding-bottom: 10px;
}
section.designed-section {
    padding: 40px 0px;
}
section.designed-section .row.pb-5 {
    padding-bottom: 15px !important;
}
.designed-right-desc h2 {
    font-size: 25px;
    padding-top: 35px;
}
section.location-slider img {
    margin-bottom: 25px;
}
section.location-slider {
    padding-bottom: 30px;
}
section.invest-section1 {
    padding: 40px 0px;
}
.text-center.invest-title h2 {
    font-size: 25px;
    line-height: 36px;
    }
    .text-center.invest-title p {
    font-size: 16px;
    line-height: 26px;
}
.invest-content.conent-box {
    margin-bottom: 30px;
}
.invest-content h2 {
    font-size: 25px;
    margin-bottom: 11px;
}
section.invest-bg-img h2 {
    font-size: 24px;
    line-height: 35px;
    }
    section.invest-bg-img p {
    font-size: 15px;
    line-height: 20px;
}
.accordion>.card>.card-header a {
    font-size: 15px !important;
}
section.invest-bg-img {
    margin: 40px 0px;
}
section.invest-section1 .row.mb-4 {
    margin-bottom: 0px !important;
}
.invest-img img {
    margin-top: 20px;
}
}







/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   .slider-overly h2 {
    line-height: 29px;
    font-size: 20px;
    margin-bottom: 20px;
}
.about-section-img {
    padding-top: 40px;
    }
.cta-leftside h2 {
    color: #fff;
    font-size: 25px;
}
.cta-leftside h3 {
    font-size: 25px;
    margin-bottom: 18px;
}
.cta-heading h2 {
    width: 30%;
    font-size: 24px;
    padding-bottom: 3px;
}
.social-section {
    padding-left: 20px;
    text-align: center;
    display: grid;
    justify-content: center;
}
.footer-right {
    text-align: center;
    padding-right: 0;
}
.section-title h2 {
    text-align: center;
}

/* properties  */
.propertes-sm-img-info {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 15px;
    z-index: 0;
    right: 0;
    width: 265px;
    top: -30px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
}
section.propertes-img-section2 img {
    padding-top: 130px !important;
}
.propertes-sm-img-info2 {
    position: absolute;
    left: 50%;
    top: 9%;
    transform: translateX(-50%);
}
.propertes-sm-img img {
    margin-top: 80px;
    max-width: 900px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 318px) and (max-width: 575.98px) { 
a.navbar-brand.logo img {
    width: 100%;
    max-width: 80px;
}
.slider-overly h2 {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 6px;
    color: #fff;
}
.slider-overly h2 {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 6px;
    color: #fff;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 22px;
    width: 22px;
    }
    .carousel-control-prev-icon:before {
    font-size: 15px;
    line-height: 17px;

}
.carousel-control-next-icon:after {
    content: '\f105';
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    }
    .section-title h2 {
    font-size: 17px;
    line-height: 35px;
    margin-bottom: 30px;
}
.about-description p {
    font-size: 14px;
    line-height: 22px;
}
.about-section-img {
    padding-top: 10px;
}
.about-section-img img {
    height: 250px;
    }
    .about-overly i {
    font-size: 40px;
}
.about-overly {
    top: 43%;
}
section.about-section {
    padding: 40px 0px;
}
.properties-section {
    padding-bottom: 40px;
}
section.properties-section .row.pb-5 {
    padding-bottom: 20px !important;
}
section.cta-section {
    background-size: cover;
}
.cta-leftside h2 {
    font-size: 15px;
}
.cta-leftside h3 {
    font-size: 16px;
}
.cta-description p {
    font-size: 14px;
    line-height: 22px;
}
.cta-heading h2 {
    width: 53%;
    font-size: 20px;
    }
    .icon-box-section {
    padding-top: 0px;
}
.slider-overly ul li a i {
    font-size: 10px;
    width: 30px;
    height: 30px;
    line-height: 29px;
    padding-left: 9px;
    }
    .slider-overly ul li a span {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    margin-left: 9px;
}
.footer-right {
    text-align: center;
    padding-right: 0;
}
.section-title h2 {
    text-align: center;
}
.social-section {
    padding-left: 20px;
    text-align: center;
    display: grid;
    justify-content: center;
}
.propertes-slider-right {
    margin-left: 0px;
    width: 81%;
    padding-top: 90px;
}
.propertes-slider-right h2 {
    font-size: 25px;
}
.propertes-slider-right p {
    font-size: 15px;
}
.propertes-describe p {
    font-size: 15px;
}
section.propertes-img-section.mt-5 {
    margin-top: 0px !important;
}
.propertes-sm-img-info h3 {
    padding-bottom: 4px;
    font-size: 22px;
}
.propertes-sm-img-info p {
    font-size: 15px;
    margin-top: 4px;
}
.propertes-sm-img-info2 {
    width: 82%;
    transform: translateX(-50%);
}
.propertes-sm-img-info2 p {
    font-size: 15px;
    margin-top: 0px;
}
.suc-record-wrap {
    padding: 20px 0;
}
.about-park-wrap {
    padding: 40px 0;
}
.location-title.section-title h2:after {
    width: 30%;
}
.section-title h2 {
    text-align: center;
    padding-bottom: 0;
}
.designed2-right-desc h2 {
    font-size: 25px;
}
.designed2-right-desc span {
    font-size: 15px;
}
.designed2-right-img img {
    min-height: 250px;
    margin-top: 20px;
    }

    .invest-content p {
    font-size: 15px;
    line-height: 24px;
}
.text-center.invest-title h2 {
    font-size: 16px;
    line-height: 25px;
    }
    .invest-content.conent-box {
    height: 230px;
}
section.invest-bg-img h2 {
    font-size: 18px;
    line-height: 26px;
    }
    section.invest-bg-img {
    padding: 35px 0px;
}
	}