

/* Google Fonts */

@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Roman.otf);
  font-weight: 600;
}

/* 
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  */


  /************** Default CSS **************/

  :root {
    --body: #252527;
    --p: #000;
    --a: #000;
    --p: #000;
    --h: #000;
    --dark: #1F1F20;
}
/* blue : 0063a2 */
/* gold d9ab34*/
body {
    font-family: Avenir;
    font-weight: normal;
    font-style: normal;
    background-color:#fff;
}

a,
.button,
button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:hover {
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    text-decoration: none;
    outline: none;
}

button {
    cursor: pointer
}

ul,
ol {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Avenir;
    font-weight: 400;
    font-style: normal;
    color: var(--h);
    text-transform: capitalize;
    margin-top: 0px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
 font-family: Avenir;
 font-size: 17px;
 font-weight: 400;
 line-height: 30px;
 color: #000;
 margin-bottom: 15px;
}

a {
    font-family: Avenir;
    color: var(--a);
    font-size: 14px;
    font-weight: 400;
}


/************** Default CSS End **************/


/************** Template CSS **************/

/* nav bar  */
a.navbar-brand.logo img {
    width: 100%;
    max-width: 150px;
}
nav.navbar {
    padding: 5px 30px;
}
a.nav-link {
    color: #000000bf !important;
    font-weight: 500;
    font-size: 17px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

li.nav-item {
    padding: 0px 12px;
}
li.nav-item.dropdown.nav-link .dropdown-toggle {
    padding: 8px 12px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000bf !important;
    position: relative;
}
li.nav-item.dropdown.nav-link .dropdown-toggle:before{
     position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background: #d9ab34;
    left: -20%;
    bottom: 3px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 0
}

a.nav-link:after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background: #d9ab34;
    left: -20%;
    bottom: 3px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 0

}
a.nav-link:hover{
    color: #0063a2 !important;
}
 a.nav-link:hover:after {

    left: 50%;
    transform: translateX(-50%);
    opacity: 1
}
li.nav-item.dropdown.nav-link .dropdown-toggle:hover:before{
left: 50%;
    transform: translateX(-50%);
    opacity: 1
}
a.dropdown-item {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 16px;
     -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

a.dropdown-item:hover {
    background: #0064a2;
    color: #fff;
}
/* slider  */
.slider-overly {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}
.slider-overly h2 {
    line-height: 60px;
    font-size: 40px;
}
.slider-overly h2 {
    line-height: 50px;
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff;
}

.slider-overly ul li {
    display: inline-block;
}

.slider-overly ul li a i {
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 58px;
    padding-left: 21px;
    color: #fff;
}
.slider-overly ul li a {
    display: flex;
    align-items: center;
}
.slider-overly ul li a span {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    margin-left: 15px;
}

.carousel-control-next, .carousel-control-prev {

    width: 12% !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 3px solid #d9ab34;
  background-image: none;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -ms-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.carousel-control-next-icon:after
{
content: '\f105';
    font-size: 35px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
}

.carousel-control-prev-icon:before {
     content: '\f104';
    font-size: 35px;
    line-height: 46px;
    font-weight: 600;
    color: #fff;
    font-family: "Font Awesome 5 Free";
}
.slider-img-after {
    position: relative;
}

.slider-img-after:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33);
    content: " ";
    top: 0;
}


/* about section  */
section.about-section {
    padding: 70px 0px;
}
.section-title h2 {font-size: 30px;line-height: 45px;margin-bottom: 35px;position: relative;}

.section-title h2:after {content: "";position: absolute;left: 50%;width: 41%;bottom: -13px;background: #0064a2;height: 3px;transform: translateX(-50%);border-radius: 49%;}

.section-title h2:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: -21px;
    border: 2px solid #0064a2;
    transform: translateX(-50%) rotate(45deg);
    background-color: #fff;
    z-index: 999;
}

.about-section-img {
    padding-top: 78px;
     position: relative;
}

.about-section-img img {
    height: 405px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    border-radius: 5px;
}

.about-overly {
    position: absolute;
    left: 50%;
    top: 50%;
}

.about-overly i {
    font-size: 60px;
    color: #fff;
    transform: translate(-50%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}


/* our properrties section  */
.properties-section .section-title h2:after {
    width: 15%;
}
.properties-section .section-title h2:before {
    content: "";
    width: 18px;
    height: 18px;
    }
.properties-section{
padding-bottom: 70px;
}
    .properties-box {
              box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
              overflow: hidden;
              }


.properties-des a {
    font-size: 25px;
    font-weight: 500;
    color: #0063a2;
    text-transform: uppercase;
}

.properties-des {
    padding: 25px 15px;
}
.properties-des p {
    color: #000000bd;
    margin: 0;
}
.properties-img {
    overflow: hidden;
        max-height: 198px;
}
.properties-img img {
    border-radius: 5px 5px 0px 0px;
    -webkit-transition: all .55s ease-in;
       -moz-transition: all .55s ease-in;
        -ms-transition: all .55s ease-in;
         -o-transition: all .55s ease-in;
            transition: all .55s ease-in;
}
.properties-img img:hover {
    transform: scale(1.2);
}


/* cta section  */



section.cta-section {
      position: relative;
    height: 100%;
    background-image: url(../img/cta-banner.png);
    background-size: 100% 100%;
        padding: 55px 0px;
}

.cta-icon img {
    width: 100%;
    max-width: 80px;
}

.cta-icon-box {
    text-align: center;
}
section.cta-section:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #1111116e;
    z-index: 1;
}
.icon-box-section {
    position: relative;
    z-index: 99;
    padding-top: 30px;
}

.cta-icon h3 {
    color: #D9AB33;
    padding-top: 15px;
    font-size: 22px;
}

.cta-icon h4 {
    color: #fff;
    font-size: 20px;
}

.cta-icon {
   padding-top: 30px;
}

.cta-leftside h2 {color: #fff;}

.cta-leftside {
    position: relative;
    z-index: 999;
    text-align: center;
}

.cta-leftside h3 {
   font-size: 30px;
    color: #005990;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 4px dotted #fff;
    margin-bottom: 25px;
}

.cta-description p:first-child {
    color: #005990;
    font-weight: 500;
}

.cta-description p {
    font-size: 18px;
    color: #fff;
}
.cta-heading h2 {
   text-align: center;
    color: #fff;
    font-weight: 500;
    border-bottom: 4px dotted;
    width: 20%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.cta-heading h2 span {
    display: block;
        color: #D9AB33;
}





/* footer css  */
.logo-section img {
    width: 100%;
    max-width: 150px;
}

.logo-section {
    text-align: center;
}


footer {
   padding-top: 70px;
   padding-bottom: 50px;
       border-top: 2px solid #1e376d;
}

.social-section h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.social-section ul li {
    padding: 5px 0px;
}

.social-section ul li a i {
    font-size: 25px;
    margin-right: 10px;
}

.social-section ul li a {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.logo-section h4 {
    font-size: 18px;
    padding-bottom: 25px;
}

.logo-section p {
    font-size: 15px;
    padding-top: 20px;
}

.footer-right h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.footer-right {
    text-align: right;
    padding-right: 20px;
}
.social-section {
    padding-left: 20px;
}
.footer-right ul li {
    font-size: 17px;
    padding: 4px 0px;
}

/************** Template CSS End **************/


/* propertes slider  */
section.propertes-slider {
    padding: 60px 0px;
}
.propertes-slider ol.carousel-indicators li {
    width: 11px;
    height: 0px;
    background: #000;
    border-radius: 50%;
}
.banner-img img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}
.propertes-slider ol.carousel-indicators {position: absolute;bottom: -40px;}

.propertes-slider.section-title h2:before {
    width: 15px;
    height: 15px;
    bottom: -19px;
    }
   .propertes-slider .section-title h2:after {
    width: 10%;
}
.propertes-slider-right {margin-left: 20px;border-bottom: 5px dotted #0064a2;width: 65%;margin-bottom: 20px;}

.propertes-slider-right h2 {
    color: #0064a2;
    font-weight: 500;
    margin-bottom: 0;
        font-size: 30px;
}

.propertes-slider-right p {
    font-size: 18px;
    color: #000c;
}

.propertes-desc {
    padding-left: 20px;
}

.propertes-desc p {
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    font-weight: bold;
}

.propertes-describe p {
    margin: 0;
    padding-bottom: 5px;
}
.propertes-slider .carousel-item img {
    height: 100%;
    max-height: 450px;
        object-fit: scale-down;
}
.propertes-img-section{
    padding-top: 40px;
    padding-bottom: 70px;
}
.propertes-sm-img-info {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 15px;
    z-index: 0;
    right: 0;
    width: 265px;
    top: 75px;
        right: -190px;
}

.propertes-sm-img {
    position: relative;
    z-index: 22;
}

.propertes-sm-img img {
        margin-top: 50px;
        max-width: 900px;
}
/* .propertes-sm-img:after {
    position: absolute;
    width: 100%;
    height: 70%;
    background: #DDF2FF;
    content: "";
    left: 0;
    z-index: -1;
} */
.propertes-img-section{
    position: relative;
}
.propertes-sm-img-info h3 {
    color: #015387;
    font-weight: 500;
    border-bottom: 3px dotted #015387;
    width: 100%;
    padding-bottom: 7px;
}

.propertes-sm-img-info p {
    font-size: 17px;
    color: #000000bf;
    font-weight: 500;
    margin-top: 15px;
}
section.propertes-img-section:after {
    position: absolute;
    width: 100%;
    height: 70%;
    background: #DDF2FF;
    content: "";
    left: 0;
    z-index: -1;
    top: 0;
}
section.propertes-img-section2 img {
    width: 100%;
    max-width: 900px;
    display: block;
    margin-left: auto;
}

section.propertes-img-section2 {
    position: relative;
}

section.propertes-img-section2:after {
    width: 100%;
    position: absolute;
    height: 70%;
    background: #3d88b812;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
}
.propertes-sm-img-info2 {
    position: absolute;
    left: 0;
    top: 9%;
}
.propertes-sm-img-info2 h3 {
    color: #015387;
    font-weight: 500;
    border-bottom: 3px dotted #015387;
    width: 100%;
    padding-bottom: 7px;
}

.propertes-sm-img-info2 p {
    font-size: 17px;
    color: #000000bf;
    font-weight: 500;
    margin-top: 15px;
}


/* location page css  */
section.designed-section {
    padding: 70px 0px;
}
.location-title.section-title h2:after {

    width: 15%;
    }
    .location-title.section-title h2:before {
    width: 16px;
    height: 16px;

    bottom: -20px;
}

.col-md-6.designed-right {
    display: flex;
    align-items: center;
}

.designed-left-img img {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    border-radius: 5px;
}

.designed-right-desc h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.designed-section2{
    padding-bottom: 70px;
}
.designed2-right-desc h2 {
    font-size: 30px;
    font-weight: 500;
}

.designed2-right-desc p {
    font-size: 17px;
    line-height: 26px;
}

.designed2-right-img img {
    min-height: 340px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}


section.location-slider {
    padding-bottom: 70px;
}

section.location-slider {}

section.location-slider img {
    border-radius: 3px;
}

/* about us page */
.about-park-wrap{
    padding: 70px 0;
}
.ab-park-header h3 {
    font-size: 23px;
    margin-bottom: 0;
}

.ab-park-header h4 {
    font-size: 42px;
    margin-bottom: 20px;
}

.ab-park-text p.text-bold {
    font-weight: 700;
    font-size: 20px;
}

ul.ab-park-list li {
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    color: #117a8b;
}

ul.ab-park-list {
    margin-top: 25px;
}

.ab-park-text {
    padding-right: 95px;
}

.ab-park-img img {
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.single-record p span {
    display: block;
}

.single-record p {
    margin-bottom: 0;
}

.suc-record-wrap{
    background-image: url('../img/about-line.png');
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    padding: 70px 0;
}

.suc-record-wrap::before{
    content: '';
    width: 100%;
    height: 100%; 
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .8;
}

.single-record {
    text-align: center;
    position: relative;
}

.single-record::after{
    content: '\f30b';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    right: -30px;
    top: 30px;
    color: #0064a2;
}

.no-after::after{
    display: none;
}

.single-record .rec-title {
    font-size: 28px;
    color: #0064a2;
    font-weight: 500;
    margin-bottom: 15px;
}

.single-record span {
    line-height: 24px;
}

/* contact us page */
.about-us-wrap{
    padding: 70px 0;
}

.about-us-wrap .section-title h2:after {
    width: 20%;
}

.contact-form{
    padding-right: 60px;
    border-right: 1px solid #0064a2;
}
.contact-form .btn-primary {
    background-color: #0064a2;
    border-color: #0064a2;
}

.contact-address p {
    font-size: 16px;
    margin-bottom: 0;
}

.contact-address  h4, .contact-form h4 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-address p.phn {
    margin-bottom: 20px;
}

.contact-address a {
    font-size: 14px;
    color: #0064a2;
    text-decoration: underline;
}

.contact-address p.copyr {
    color: #0064a2;
}

.contact-address {
    padding-left: 30px;
}

#map iframe{
    width: 100%;
    height: 400px;

}

/* invest page css  */
section.invest-section1 {
    padding: 70px 0px;
}

.invest-content h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.invest-content p {line-height: 26px;}

.invest-img img {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    border-radius: 5px;
}

.text-center.invest-title h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 18px;
}

.invest-content.conent-box {
    border: 2px solid #00000005;
    height: 200px;
    box-shadow: 0 1px 0px 0px rgba(0,0,0,0.07), 0 2px 0px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0px 1px 0px rgba(0,0,0,0.07), -1px -1px 0px rgba(0,0,0,0.07), 1px 1px 0px rgba(0,0,0,0.07);
    padding: 20px;
    border-radius: 6px;
}

section.invest-bg-img {
    background-image: url("../img/inves-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 70px 0px;
    margin: 70px 0px;
}
section.invest-bg-img h2 {
   font-size: 30px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 99;
    line-height: 45px;
    padding-bottom: 20px;
}

section.invest-bg-img:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #11101059;
    content: "";
}

section.invest-bg-img p {
    font-size: 17px;
    color: #fff;
    z-index: 999;
    position: relative;
    line-height: 25px;
}
.invest.section-title h2:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    }
  .invest.section-title h2:after {

    width: 11%;
}


/* accordion styles */
 .accordion .card-header {
     cursor: pointer;
}
 .accordion.heading-right .card-title {
     position: absolute;
     right: 50px;
}
 .accordion.indicator-plus .card-header:after {
     font-family: 'Font Awesome 5 Free';
     content: "\f068";
     float: right;
     font-weight: 900;
}
 .accordion.indicator-plus .card-header.collapsed:after {
     content: "\f067";
}
 .accordion.indicator-plus-before.round-indicator .card-header:before {
     font-family: 'Font Awesome 5 Free';
     font-size: 14pt;
     content: "\f056";
     margin-right: 10px;
     font-weight: 900;
}
 .accordion.indicator-plus-before.round-indicator .card-header.collapsed:before {
     content: "\f055";
     color: #000;
}
 .accordion.indicator-plus-before .card-header:before {
     font-family: 'Font Awesome 5 Free';
     content: "\f068";
     float: left;
     font-weight: 900;
}
 .accordion.indicator-plus-before .card-header.collapsed:before {
     content: "\f067";
}
 .accordion.indicator-chevron .card-header:after {
     font-family: 'Font Awesome 5 Free';
     content: "\f078";
     float: right;
     font-weight: 900;
}
 .accordion.indicator-chevron .card-header.collapsed:after {
     content: "\f077";
}
 .accordion.background-none [class^="card"] {
     background: transparent;
}
 .accordion.border-0 .card {
     border: 0;
}
.accordion>.card>.card-header a{
    font-size: 18px !important;
    font-weight: 500;
}
.accordion>.card>.card-header:hover {
    background: #0064a2 !important;
    color: #fff !important;
}
section.faq-section {
    padding-bottom: 70px;
}